<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>sakgiok_skroutzhelper</name>
    <displayName><![CDATA[Skroutz product indexer]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Allows you to create the xml file for skroutz.gr and offers skroutz analytics support.]]></description>
    <author><![CDATA[Sakis Gkiokas]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>